[submodule "hoshino/modules/maimaiDX"]
	path = hoshino/modules/maimaiDX
	url = https://github.com/kokoro-ele/maimaiDX.git
[submodule "hoshino/modules/setu"]
	path = hoshino/modules/setu
	url = https://github.com/kokoro-ele/setu4hoshino.git
[submodule "hoshino/modules/picfinder"]
	path = hoshino/modules/picfinder
	url = https://github.com/kokoro-ele/picfinder_take
[submodule "hoshino/modules/chatgpt"]
	path = hoshino/modules/chatgpt
	url = https://github.com/kokoro-ele/ChatGPT4Hoshino.git
